<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61156491550-fvqs0ibb9vn082vlfk80u41e2vn3p7nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61156491550-fvqs0ibb9vn082vlfk80u41e2vn3p7nd</string>
	<key>API_KEY</key>
	<string>AIzaSyAntf65LHjJinzath386DPwreVpRky4N3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>61156491550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CODEDC.CODEDCAPP</string>
	<key>PROJECT_ID</key>
	<string>code-dc-2e246</string>
	<key>STORAGE_BUCKET</key>
	<string>code-dc-2e246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61156491550:ios:fdda2a357f709a12d8090f</string>
</dict>
</plist>